.contact__container {
    padding-left: 10%;
    padding-right: 10%;
}

.contact__container h2 {
    margin-top: 100px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 50px;
}

.contact__container p {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
}

.social-network__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px
}

.social-network {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.social-network:hover {
    scale: 1.05;
    transition: .3s all;
}

.telegram {
    background-color: rgba(17, 17, 240, 0.692);
}

.instagram {
    background-color: rgba(243, 60, 60, 0.801);
}

.twitter {
    background-color: black;
}

.linkedIn {
    background-color: blue;
}

@media (max-width: 740px) {
    .social-network__container {
        grid-template-columns: 1fr 1fr
    }
}

@media (max-width: 500px) {
    .contact__container h2 {
        font-size: 28px;
        line-height: 28px;
    }
}